.map {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map p {
  margin: 0;
  background-color: #17294f;
  color: #ffd900;
  width: 100%;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
