.navigation-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-links li {
  margin: 1rem;
}

.navigation-links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
}

.navigation-links a:hover,
.navigation-links a:active,
.navigation-links a.active {
  background: #ccc;
  border-color: #ffd900;
  color: #1e306bff;
}

.navigation-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.navigation-links button:focus {
  outline: none;
}

.navigation-links button:hover,
.navigation-links button:active {
  background: #292929;
  color: white;
}

@media (min-width: 768px) {
  .navigation-links {
    flex-direction: row;
  }

  .navigation-links li {
    margin: 0 0.5rem;
  }

  .navigation-links a {
    color: white;
    text-decoration: none;
  }

  .navigation-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }
  
  .navigation-links button:hover,
  .navigation-links button:active {
    background: #f8df00;
    color: #292929;
  }
}
